<a href="https://colab.research.google.com/github/patrickspencer/notebooks/blob/main/numpy_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example of Min-max normalization in Pandas

In [22]:
import pandas as pd
import numpy as np

data = {'Name': ['John', 'Jane', 'Sam', 'Sara'],
        'Age': [25, 32, 19, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df = pd.DataFrame(data)

print(df)

   Name  Age         City
0  John   25     New York
1  Jane   32  Los Angeles
2   Sam   19      Chicago
3  Sara   45      Houston

In [23]:
df

   Name  Age         City
0  John   25     New York
1  Jane   32  Los Angeles
2   Sam   19      Chicago
3  Sara   45      Houston

In [5]:
(df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())

0    0.230769
1    0.500000
2    0.000000
3    1.000000
Name: Age, dtype: float64

In [6]:
df.dtypes

Name    object
Age      int64
City    object
dtype: object

In [10]:

data2 = {'Name': ['John', 'Jane', 'Sam', 'Sara'],
        'Age': [25, 32, 19, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', np.nan]}

df2 = pd.DataFrame(data2)

In [11]:
df2

   Name  Age         City
0  John   25     New York
1  Jane   32  Los Angeles
2   Sam   19      Chicago
3  Sara   45          NaN

In [13]:
df2.dropna(subset=['City'])

   Name  Age         City
0  John   25     New York
1  Jane   32  Los Angeles
2   Sam   19      Chicago

In [14]:
a = df['Age']

In [17]:
from sklearn import preprocessing

In [18]:
min_max_scaler = preprocessing.MinMaxScaler()

In [20]:
foo = np.array([[0.0, 10.0], [0.13216, 12.11837], [0.25379, 42.05027], [0.30874, 13.11784]])

In [21]:
foo

array([[ 0.     , 10.     ],
       [ 0.13216, 12.11837],
       [ 0.25379, 42.05027],
       [ 0.30874, 13.11784]])

In [28]:
(foo - foo.mean()) / np.std(foo)

array([[-0.72979689,  0.01889348],
       [-0.71990219,  0.1774938 ],
       [-0.71079587,  2.41846633],
       [-0.70668182,  0.25232316]])